workflows/chat_workflow.json
{
  "name": "chat_workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "options": {
          "systemMessage": "Sen bir asistansın. Kullanıcının sorusunu cevaplamak için MUTLAKA sana verilen 'Vector Store' aracını kullan. Kendi bilgini kullanma. Sadece veritabanından gelen bilgiyi söyle. Cevap dilin soru dili ile aynı olsun."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -32,
        -352
      ],
      "id": "99f5a8a6-b230-47b6-8b7e-fef47bb56284",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "qwen2.5:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -128,
        -192
      ],
      "id": "be65c072-b9f2-4799-9283-c2c39a395d33",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "OxNd55CR51HDRwaM",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        80,
        -160
      ],
      "id": "721c7c4e-7839-410a-bf1b-12b18f1dba53",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "rag-pdf-chat",
          "mode": "list",
          "cachedResultName": "rag-pdf-chat"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "659ec2d0-80ad-4525-b208-4330328e0663",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "u6I4MsyyGnOZLS4a",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        0,
        176
      ],
      "id": "80158139-a6e0-4a88-af35-0f239ed7de89",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "OxNd55CR51HDRwaM",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen2.5:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        288,
        -48
      ],
      "id": "cde77d8b-9fd3-430c-aabb-77acb7fe40a8",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "OxNd55CR51HDRwaM",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        -352
      ],
      "id": "b06b7a5b-ca21-4fce-9075-d5ba4676aa89",
      "name": "Webhook",
      "webhookId": "1f7d72b0-cc05-470d-9985-cb676d9176a8"
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5b62d948-15eb-498c-b7cd-bd3b639e9a48",
  "meta": {
    "instanceId": "95b1270f8ae780515a7c5cdfaffa5a33555380be447e5c24716d1356128ef264"
  },
  "id": "6gsv4lPkURL8G2X3",
  "tags": []
}